@inject Karakatsiya.Localizations.SharedLocalizationService _localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Karakatsiya</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Karakatsiya.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="d-flex">
        <nav class="main-menu-panel">
            <div class="main-menu-panel__header">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Karakatsiya</a>
            </div>
            <ul class="main-menu-panel__nav">
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Home" asp-action="Index">@_localizer.Buttons["Main.Home"]</a>
                </li>
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Account" asp-action="Register">@_localizer.Buttons["Main.Registration"]</a>
                </li>
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Item" asp-action="CreateItem">@_localizer.Buttons["Main.Create"]</a>
                </li>
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Item" asp-action="UserItems">@_localizer.Buttons["Main.UserItems"]</a>
                </li>
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Sale" asp-action="Sales">@_localizer.Buttons["Main.MenuSales"]</a>
                </li>
                <li class="main-menu-panel__item">
                    <a class="main-menu-panel__link" asp-area="" asp-controller="Account" asp-action="AdminPanel">AdminPanel</a>
                </li>
                <!-- Language Button -->
                <li class="main-menu-panel__item">
                    <div class="language-selector">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            @_localizer.Buttons["Main.Language"]
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <form action="@Url.Action("SetLanguage", "Home")" method="post" class="d-inline">
                                    <input type="hidden" name="culture" value="en-US" />
                                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                    <button type="submit" class="dropdown-item">English</button>
                                </form>
                            </li>
                            <li>
                                <form action="@Url.Action("SetLanguage", "Home")" method="post" class="d-inline">
                                    <input type="hidden" name="culture" value="uk-UA" />
                                    <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                    <button type="submit" class="dropdown-item">Українська</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="currency-container">
                @await Component.InvokeAsync("CurrencyRates")
            </div>
            <div class="auth-block">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <span class="me-3">@_localizer.Messages["Hello"], @User.Identity.Name</span>
                    <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-outline-dark">@_localizer.Buttons["Main.Logout"]</button>
                    </form>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-dark">@_localizer.Buttons["Main.Login"]</a>
                }
            </div>
        </nav>
        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Karakatsiya - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>