@inject Karakatsiya.Localizations.SharedLocalizationService _localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Karakatsiya</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Karakatsiya.styles.css" asp-append-version="true" />
</head>
<body>
    <!-- Header -->
    <div class="block-header">
        <!-- Logo -->
        <div class="block-header__container-logo">
            <a class="block-header__logo-text" asp-area="" asp-controller="Home" asp-action="Index">
                K<span class="letter">a</span>r<span class="letter">a</span>k<span class="letter">a</span>tsiy<span class="letter">a</span>
            </a>
        </div>
        <!-- Greeting -->
        <div class="block-header__container-greeting">
            <div class="block-header__greeting">
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <span class="auth-block__title">@_localizer.Messages["Main.Hello"] @User.Identity.Name</span>
                    <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-outline-dark">@_localizer.Generals["Button.Logout"]</button>
                    </form>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-dark">@_localizer.Generals["Button.Login"]</a>
                }
            </div>
        </div>
        <!-- Theme/Language -->
        <div class="block-header__container-theme-language">
            <div class="block-header__theme-toggle">
                <button id="themeToggle" class="btn" onclick="toggleTheme()">🌙/🌞</button>
            </div>

            <div class="custom-navbar__language">
                <div class="language-selector">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        @_localizer.Generals["Button.Language"]
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li>
                            <form action="@Url.Action("SetLanguage", "Home")" method="post" class="d-inline">
                                <input type="hidden" name="culture" value="en-US" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <button type="submit" class="dropdown-item">English</button>
                            </form>
                        </li>
                        <li>
                            <form action="@Url.Action("SetLanguage", "Home")" method="post" class="d-inline">
                                <input type="hidden" name="culture" value="uk-UA" />
                                <input type="hidden" name="returnUrl" value="@Context.Request.Path" />
                                <button type="submit" class="dropdown-item">Українська</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="block-main">
        <!-- RightPanel -->
        <nav class="block-sidebar">
            <ul class="block-sidebar__container-main">
                <li class="block-sidebar__container-button">
                    <a class="block-sidebar__button" asp-area="" asp-controller="Home" asp-action="Index">@_localizer.Generals["Button.Home"]</a>
                </li>
                <li class="block-sidebar__container-button">
                    <a class="block-sidebar__button" asp-area="" asp-controller="Account" asp-action="Register">@_localizer.Generals["Button.Registration"]</a>
                </li>
                <li class="block-sidebar__container-button">
                    <a class="block-sidebar__button" asp-area="" asp-controller="Item" asp-action="CreateItem">@_localizer.Generals["Button.Create"]</a>
                </li>
                <li class="block-sidebar__container-button">
                    <a class="block-sidebar__button" asp-area="" asp-controller="Category" asp-action="ShowCategories">@_localizer.Generals["Button.MyItems"]</a>
                </li>
                <li class="block-sidebar__container-button">
                    <a class="block-sidebar__button" asp-area="" asp-controller="Sale" asp-action="Sales">@_localizer.Generals["Button.MySales"]</a>
                </li>
                <li class="block-sidebar__container-button">
                    @if (User.IsInRole(ProjectConstants.ROLE_ADMIN))
                    {
                        <a class="block-sidebar__button" asp-area="" asp-controller="Admin" asp-action="AdminPanel">@_localizer.Generals["Button.AdminPage"]</a>
                    }
                </li>
            </ul>

            <div class="currency-container">
                @await Component.InvokeAsync("CurrencyRates")
            </div>
        </nav>

        <div class="block-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
    <!-- Footer -->
    <footer class="block-footer">
        <div class="block-footer__container-text">
            <div class="block-footer__text">
                &copy; 2025 - Karakatsiya - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
            <div class="block-footer__container-logo">
                <a href="@ProjectConstants.ABOUT_ME_URL" target="_blank">
                    <img src="/images/KarakatsiyaKeeperLogoV1.png" alt="Karakatsiya" class="block-footer__logo">
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>